body {
    font-family: Arial;
    background-color: #7f1d1d;
    color: white;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #dc2626;
    border: none;
    color: white;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    background-color: #b91c1c;
    padding: 15px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}